
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/site/site.css" rel="stylesheet" />
</head>
<body ng-app="cobloga">
    <div class="container">
        <div class="well" ng-controller="NewPostController">
            <div>
                <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
            </div>
            <button type="button" ng-click="Save()" class="btn btn-default btn-lg btn-block">Save</button>
        </div>
    </div>
    <script src="~/node_modules/jquery/jquery.min.js"></script>
    <script src="~/node_modules/tinymce/tinymce.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/node_modules/angular/angular.min.js"></script>
    <script src="~/node_modules/angular-ui-tinymce/src/tinymce.js"></script>
    <script src="~/Scripts/site/app.js"></script>
    <script src="~/Scripts/site/controllers/NewPostController.js"></script>
</body>
</html>
